@model IEnumerable<WebStore.Models.EmployeeView>
@{
    ViewData["Title"] = "Index";
}

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.SurName</td>
            <td>@item.Patronymic</td>
            <td>@item.Position</td>
            <td>@Html.ActionLink("Детали","Details", new { id = item.id })</td>
        </tr>
    }
</table>

